form {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
}

/* #login_stuff {
    display: none;
} */

#login_error {
    color: red;
}

#create_account_stuff {
    display: none;
}