@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

body {
    /* background-image: url("../img/tid.png");
    background-size: cover; */
}

#admin-dashboard {
    background-color: gray;
}

h1 {

}

form {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
}

/* #login_stuff {
    display: none;
} */

body {
    display: flex;
    flex-direction: column;
}

#login_error {
    color: red;
}

#create_account_stuff {
    display: none;
}

#questions {
    justify-self: center;
    align-self: center;
    min-width: 500px;
}

.question {
    border-bottom: 1px solid black;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.question_points {
    font-size: 50px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    /* justify-self: center; */
}

.answer {
    border-bottom: 1px solid black;
}